.header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  transform: rotate(-5deg);
}

.accountButton {
  transform: rotate(5deg);

  &:hover {
    transform: scale(1.2);
  }
}